<h2>Blocipedia: Social, Markdown Wikis</h2>
<div class="jumbotron">
  <p>Create and share Markdown Wikis</p>
  <p><%= link_to "Sign Up", "", class: 'btn btn-primary'%></p>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Create as many public wikis as you want!</h2>
    <p><%= link_to "Free Plan", "", class: 'btn btn-primary'%></p>
  </div>
  <div class="col-md-6">
    <h4>Create private wikis!</h2>
    <p><%= link_to "Premium Plan", "", class: 'btn btn-primary'%></p>
  </div>
</div>
